.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  width: 100%;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80vh;
  background-color: aliceblue;
}

/* FOOTER */

footer {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  width: 100%;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.5);
}

.footerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerText * {
  margin: 15px;
}

.footerText2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  height: 40px;
}

.gitIcon {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.gitIcon:hover {
  animation: loader 1s;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1.2;
  }
  100% {
    border-radius: 50%;
    rotate: 360deg;
  }
}
