.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("../public/NES/NES.jpg");
  background-size: cover;
}

.Main {
  max-width: 800px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 80vh;
}

/* GAME CARDS */

.gameContainer {
  background-color: aliceblue;
  width: 150px;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  flex: -1 0 21%;
  transition: all 0.2s ease-in-out;
  animation: 0.5s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.gameContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.gameImg {
  width: 120px;
  height: 160px;
}

.gameH3 {
  display: flex;
  flex-wrap: wrap;
}

/* HEADER */

header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  width: 100%;
  box-shadow: 0px 3px 4px 0px white;
}

.scoreContainer {
  display: flex;
}

.scoreCard {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

/* FOOTER */

footer {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  width: 100%;
  box-shadow: 0px -3px 4px 0px white;
}

.footerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerText2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  height: 20px;
}

.gitIcon {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
}

.gitIcon:hover {
  animation: loader 1s;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1.2;
  }
  100% {
    border-radius: 50%;
    rotate: 360deg;
  }
}

/* MODAL */

.Modal {
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2% 7%;
  border-radius: 0.5rem;
}

.modalBtn {
  font-weight: bolder;
  padding: 15px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 255, 68);
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.modalBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
